p {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(218, 213, 213);
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 90px 90px;
}

.about {
  margin-bottom: 50px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  color: #595959;
  margin-top: 0;
  margin-bottom: 50px;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #595959;
  margin-top: 0;
  margin-bottom: 20px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
  margin: 0;
}

.Project {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #595959;
  margin-top: 0;
  margin-bottom: 20px;
}

.project-item {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 20px;
}

.project-item:last-child {
  margin-bottom: 0;
}

.project-name {
  margin-top: 0;
  margin-bottom: 20px;
}

.education-list {
  padding: 0;
  margin-left: 15px;
}

.education-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.aside {
  background-color: #e5e5e5;
}

.sidebar {
  margin: 40px;
  margin-top: 0;
  width: 370px;
}

.sidebar:last-child {
  margin-bottom: 0;
}

.photo {
  border-radius: 50%;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #595959;
  border-radius: 20px;
  padding: 5px 30px 5px 30px;
  width: 50%;
  background-color: #595959;
  color: #ffffff;
}

.sidebar-list {
  padding: 0;
  margin-left: 25px;
}

.contact-list {
  list-style-type: none;
  margin-left: 0;
}

.icon {
  margin-right: 10px;
}

.contact-item i {
  margin-right: 10px;
}
